/* Create new task dialog----------------------- */
.dialog-interface{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: .5s;
}
.create-task-dialog {
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9fa;
    width: 470px;
    height: 360px;
    border-radius: 10px;
    padding-right: 40px;
}
.create-task-dialog i{
    position: absolute;
    right: 5%;
    top: 4.5%;
    font-size: 20px;
}
.create-mcp h2,
.create-task-dialog h2 {
    margin-top: 10px;
    margin-left: 40px;
}
.create-task-dialog .task-id{
    position: absolute;
    top:17%;
    left: 10%;
}

.create-task-dialog .task-id input {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    border: 1px solid rgb(178, 178, 178);
}
.create-task-dialog .create-date {
    position: absolute;
    top: 28%;
    left: 10%;
}


.create-task-dialog .create-date input{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    border: 1px solid rgb(178, 178, 178);
}
.create-task-dialog #shift {
    position: absolute;
    top: 17%;
    left: 65%;
    width: 120px;
    height: 37px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(178, 178, 178);
}
.create-task-dialog #collector {
    position: absolute;
    top: 41%;
    left: 10%;
    width: 210px;
    height: 37px;
    padding-left: 10px;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid rgb(178, 178, 178);
    z-index: 1;
}

.edit-task-dialog #collector-opt {
    position: absolute;
    top: 41%;
    left: 10%;
    width: 210px;
    height: 37px;
    padding-left: 10px;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid rgb(178, 178, 178);
    z-index: 1;
}
.create-task-dialog .create-collector {
    position: absolute;
    top: 46.5%;
}
.create-task-dialog #vehicle {
    position: absolute;
    top: 28%;
    left: 65%;
    width: 120px;
    height: 38px;
    margin-top: 20px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(178, 178, 178);
}
.edit-task-dialog #vehicle-opt {
    position: absolute;
    top: 28%;
    left: 65%;
    width: 120px;
    height: 38px;
    margin-top: 20px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(178, 178, 178);
}
.create-task-dialog .routine-code{
    position: absolute;
    top: 64%;
    left: 10%;
}
.create-task-dialog .routine-code input{
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    border: 1px solid rgb(178, 178, 178);
}
.create-task-dialog .mcp-of-routine{
    position: absolute;
    top: 74%;
    left: 10%;
}
.create-task-dialog .mcp-of-routine input {
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    border: 1px solid rgb(178, 178, 178);
}

.collector-img, .vehicle-img {
    /* margin-top: 3px;
    margin-bottom: 3px; */
    margin-right: 10px;
}

.create-task-dialog #btn-continue{
    position: absolute;
    top: 85%;
    left: 75%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(10, 222, 10);
    border: none;
    font-weight: bold;
    font-size: 17px;
}

.create-task-dialog #btn-continue:hover{
    background-color: rgb(68, 255, 68);
}
.create-task-dialog #collector-option-1 {
    display: flex;
    position: absolute;
    left: 0px;
    width: 95%;
    padding-left: 10px;
    background: white;
    border-radius: 15px 15px 0px 0px;
}
.create-task-dialog #collector-option-1:hover {
    background: rgb(0, 140, 255);
}
.create-task-dialog #collector-option-2:hover {
    background: rgb(0, 140, 255);
}
.create-task-dialog #collector-option-3:hover {
    background: rgb(0, 140, 255);
}
.create-task-dialog #collector-option-4:hover {
    background: rgb(0, 140, 255);
}
.create-task-dialog #collector-option-5:hover {
    background: rgb(0, 140, 255);
}
.create-task-dialog #vehicle-option-1:hover {
    background: rgb(0, 140, 255);
}
.create-task-dialog #vehicle-option-2:hover {
    background: rgb(0, 140, 255);
}
.create-task-dialog #vehicle-option-3:hover {
    background: rgb(0, 140, 255);
}
.create-task-dialog #vehicle-option-4:hover {
    background: rgb(0, 140, 255);
}
.create-task-dialog #vehicle-option-5:hover {
    background: rgb(0, 140, 255);
}
.create-task-dialog #collector-option-2 {
    display: flex;
    position: absolute;
    left: 0px;
    width: 95%;
    padding-left: 10px;
    background: white;
    top: 16.5%;
}
.create-task-dialog #collector-option-3 {
    display: flex;
    position: absolute;
    left: 0px;
    width: 95%;
    padding-left: 10px;
    background: white;
    top: 33.5%;
}
.create-task-dialog #collector-option-4 {
    display: flex;
    position: absolute;
    left: 0px;
    width: 95%;
    padding-left: 10px;
    background: white;
    top: 50%;
}
.create-task-dialog #collector-option-5 {
    display: flex;
    position: absolute;
    left: 0px;
    width: 95%;
    padding-left: 10px;
    background: white;
    top: 66.5%;
}

.create-task-dialog #vehicle-option-1 {
    display: flex;
    position: absolute;
    left: 65%;
    top: 44%;
    width: 45%;
    padding-left: 10px;
    background: white;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid gray;
}
.create-task-dialog #vehicle-option-2 {
    display: flex;
    position: absolute;
    left: 65%;
    top: 59%;
    width: 45%;
    padding-left: 10px;
    background: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.create-task-dialog #vehicle-option-3 {
    display: flex;
    position: absolute;
    left: 65%;
    top: 74%;
    width: 45%;
    padding-left: 10px;
    z-index: 3;
    background: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.create-task-dialog #vehicle-option-4 {
    display: flex;
    position: absolute;
    left: 65%;
    top: 89%;
    width: 45%;
    padding-left: 10px;
    background: white;
    z-index: 3;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.create-task-dialog #vehicle-option-5 {
    display: flex;
    position: absolute;
    left: 65%;
    top: 104%;
    width: 45%;
    padding-left: 10px;
    background: white;
    border-radius: 0px 0px 15px 15px;
    z-index: 3;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

#collector-option {
    position: absolute;
    width: 40%;
    top: 63%;
    height: 80%;
    left: 11%;
    z-index: 99;
    border: 1px solid gray;
    border-radius: 15px;
}


/* Create new MCP ------------------------ */

.create-mcp {
    display: none;
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9fa;
    width: 550px;
    height: 380px;
    border-radius: 10px;
}
.create-mcp .mcp{
    margin-top: 20px;
    margin-left: 40px;
}

.create-mcp .mcp #staff {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    border: 1px solid rgb(178, 178, 178);
    margin-left: 5px;
}

.create-mcp button{
    padding: 12px 12px;
    border-radius: 10px;
    background-color: rgb(10, 222, 10);
    border: none;
    font-weight: bold;
    font-size: 17px;
    margin-top: 5px;
}

.create-mcp button:hover {
    background-color: rgb(68, 255, 68);
}

.create-mcp .mcp label span {
    font-size: 15px;
    color: gray;
}

.create-mcp #back {
    position: absolute;
    top: 80%;
    left: 8%;
}

.create-mcp #save-task {
    position: absolute;
    top: 80%;
    left: 70%;
}

/* Edit Task --------- */
.edit-task-dialog {
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9fa;
    width: 420px;
    height: 360px;
    border-radius: 10px;
    padding-right: 40px;
}
.edit-task-dialog i{
    position: absolute;
    right: 5%;
    top: 4.5%;
    font-size: 20px;
}
.edit-mcp h2,
.edit-task-dialog h2 {
    margin-top: 10px;
    margin-left: 40px;
}
.edit-task-dialog .task-id{
    position: absolute;
    top:17%;
    left: 10%;
}

.edit-task-dialog .task-id input {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    border: 1px solid rgb(178, 178, 178);
}
.edit-task-dialog .edit-taskid {
    position: absolute;
    left: 11%;
}
.edit-task-dialog .edit-shift {
    position: absolute;
    left: 66%;
}
.edit-task-dialog .edit-date-text {
    position: absolute;
    top: 29%;
    left: 11%;
}
.edit-task-dialog .edit-vehicle-text {
    position: absolute;
    top: 29%;
    left: 66%;
}
.edit-task-dialog .edit-collector-text {
    position: absolute;
    top: 47%;
    left: 11%;
}
.edit-task-dialog .edit-date {
    position: absolute;
    top: 35%;
    left: 10%;
}


.edit-task-dialog .edit-date input{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    border: 1px solid rgb(178, 178, 178);
}
.edit-task-dialog #shift {
    position: absolute;
    top: 17%;
    left: 65%;
    width: 120px;
    height: 37px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(178, 178, 178);
}
.edit-task-dialog #collector {
    position: absolute;
    top: 53%;
    left: 10%;
    width: 210px;
    height: 37px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(178, 178, 178);
}
.edit-task-dialog #vehicle {
    position: absolute;
    top: 35%;
    left: 65%;
    width: 120px;
    height: 38px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(178, 178, 178);
}
.edit-task-dialog .routine-code{
    position: absolute;
    top: 70%;
    left: 10%;
}
.edit-task-dialog .routine-code input{
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    border: 1px solid rgb(178, 178, 178);
}
.edit-task-dialog .mcp-of-routine{
    position: absolute;
    top: 80%;
    left: 10%;
}
.edit-task-dialog .mcp-of-routine input {
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    border: 1px solid rgb(178, 178, 178);
}
.edit-task-dialog .routine-code input::placeholder,
.edit-task-dialog .mcp-of-routine input::placeholder{
    color: #e6e6e6;
}
.edit-task-dialog #btn-continue-edit{
    position: absolute;
    top: 80%;
    left: 80%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(10, 222, 10);
    border: none;
    font-weight: bold;
    font-size: 17px;
}

.edit-task-dialog #collector-1 {
    display: flex;
    position: absolute;
    left: 0px;
    width: 95%;
    padding-left: 10px;
    background: white;
    border-radius: 15px 15px 0px 0px;
}
.edit-task-dialog #collector-1:hover {
    background: rgb(0, 140, 255);
}
.edit-task-dialog #collector-2:hover {
    background: rgb(0, 140, 255);
}
.edit-task-dialog #collector-3:hover {
    background: rgb(0, 140, 255);
}
.edit-task-dialog #collector-4:hover {
    background: rgb(0, 140, 255);
}
.edit-task-dialog #collector-5:hover {
    background: rgb(0, 140, 255);
}
.edit-task-dialog #vehicle-1:hover {
    background: rgb(0, 140, 255);
}
.edit-task-dialog #vehicle-2:hover {
    background: rgb(0, 140, 255);
}
.edit-task-dialog #vehicle-3:hover {
    background: rgb(0, 140, 255);
}
.edit-task-dialog #vehicle-4:hover {
    background: rgb(0, 140, 255);
}
.edit-task-dialog #vehicle-5:hover {
    background: rgb(0, 140, 255);
}
.edit-task-dialog #collector-2 {
    display: flex;
    position: absolute;
    left: 0px;
    width: 95%;
    padding-left: 10px;
    background: white;
    top: 16.5%;
}
.edit-task-dialog #collector-3 {
    display: flex;
    position: absolute;
    left: 0px;
    width: 95%;
    padding-left: 10px;
    background: white;
    top: 33.5%;
}
.edit-task-dialog #collector-4 {
    display: flex;
    position: absolute;
    left: 0px;
    width: 95%;
    padding-left: 10px;
    background: white;
    top: 50%;
}
.edit-task-dialog #collector-5 {
    display: flex;
    position: absolute;
    left: 0px;
    width: 95%;
    padding-left: 10px;
    background: white;
    top: 66.5%;
}

.edit-task-dialog #vehicle-1 {
    display: flex;
    position: absolute;
    left: 65%;
    top: 44%;
    width: 50%;
    padding-left: 10px;
    background: white;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid gray;
}
.edit-task-dialog #vehicle-2 {
    display: flex;
    position: absolute;
    left: 65%;
    top: 59%;
    width: 50%;
    padding-left: 10px;
    z-index: 3;
    background: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.edit-task-dialog #vehicle-3 {
    display: flex;
    position: absolute;
    left: 65%;
    top: 74%;
    width: 50%;
    padding-left: 10px;
    background: white;
    z-index: 3;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.edit-task-dialog #vehicle-4 {
    display: flex;
    position: absolute;
    left: 65%;
    top: 89%;
    width: 50%;
    padding-left: 10px;
    background: white;
    z-index: 3;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.edit-task-dialog #vehicle-5 {
    display: flex;
    position: absolute;
    left: 65%;
    top: 104%;
    width: 50%;
    padding-left: 10px;
    background: white;
    border-radius: 0px 0px 15px 15px;
    z-index: 3;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

#collector-options {
    position: absolute;
    width: 40%;
    top: 63%;
    height: 80%;
    left: 11%;
    z-index: 99;
    border: 1px solid gray;
    border-radius: 15px;
}
/* Delete Task Dialog */

.delete-task-dialog{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9fa;
    width: 420px;
    height: 250px;
    border-radius: 15px;
    padding-right: 40px;
}

.delete-task-dialog .content-of-dialog{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
}

.delete-task-dialog .content-of-dialog i {
    font-size: 30px;
    margin-bottom: 10px;
    cursor: default;
}

.delete-task-dialog .content-of-dialog p{
    font-size: 13px;
    color: gray;
    margin-top: 10px;
}
.delete-task-dialog .content-of-dialog button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    padding: 12px 12px;
    font-size: 16px;
    margin-top: 20px;
}
.delete-task-dialog .content-of-dialog #confirm-delete{
    border: 1px solid rgb(106, 241, 106);
    background-color: white;
    color: rgb(106, 241, 106);
    margin-right: 30px;
}
.delete-task-dialog .content-of-dialog #cancel-delete{
    border: none;
    background-color: rgb(232, 66, 66);
    color: white;
    margin-left: 30px;
}